div.MuiTooltip-tooltip{
    background-color: transparent;
    width:0;
    height:0;
    padding:0;
    margin:0;
}


.placementOn10{
    position: relative;
    top: 0.7rem;
    right: 2.9rem;
}
.placementOn11{
    position: relative;
    top: -0.7rem;
    right: 1.9rem;
}
.placementOn01{
    position: relative;
    top: -0.7rem;
    left: -0.1rem;
}
.placementOn02{
    position: relative;
    top: 0.7rem;
    left: 0.80rem;
}
.placementOn06{
    position: relative;
    top: 3.5rem;
    right: 1.0rem;
}
